/************************* INDIVIDUAL PROJECT PAGE ***************************/
.bold{
    font-weight: 800px;
}

h6{
    font-family:Helvetica Neue, Arial, sans-serif;
    font-size: 1.15em;
    text-align: left;
    padding: 4% 13% 0 13%;
}

/************** CONTROL PAGE AND GENERAL **************/

/* LEFT SIDE OF HIDDEN PAGE */
.left section.controlInfoHidden{
    float: right;
    padding-right: 30px;
}

/* BACK TO HOMEPAGE */
.left section.controlInfoHidden img.back{
    margin-top: 64px;
    margin-left: 30px;
    width: 1.7em;
}

.left section.controlInfoHidden h4{
    color: #fff;
    font-size: 2em;
    margin: 64px auto;
    float: right;
    text-align: right;
}

/* OBJECTIVE AND DURATION*/
.left section.controlInfoHidden span{
    float: right;
}

.left section.controlInfoHidden p{ 
    font-family:Helvetica Neue, Arial, sans-serif;
    color: #fff;
    margin-bottom: 10px;
    font-size: .9em;
    float: right;
}

/*objective and duration word in bold*/
.left section.controlInfoHidden p.bold{
    font-weight: bold;
    margin: 0;
    float: left;
}
section#Three-DLeft p#duration{
    margin-left: 100px;
}
/* END OF THE LEFT SIDE OF HIDDEN PAGE */

/* RIGHT SIDE OF HIDDEN PAGE */
.right section.controlInfoHidden img{
    width: 100%;
}

.right section.controlInfoHidden p{
    text-align: center;
    padding: 3% 13%;
}

/* picure in the middle of the blind*/
img#blinds{
    height: 250px;
}

/* text in the colored background*/
div.colored{
    background-color: #59b1c0;
    color: #fff;
    text-align: left;
    padding-bottom:2%;
}

.right section.controlInfoHidden div.colored p{
    text-align: left;
}

/* Final Design for Controls*/
.right section.controlInfoHidden div.splitTwo{
    margin-top:2%;
    margin-bottom: 3%;
}

.right section.controlInfoHidden div.splitTwo span.leftspan{
    max-width: 30%;
    float: left;
    padding: 6.5% 0 0 3%;
}

.right section.controlInfoHidden div.splitTwo img{
    max-width: 80%;
}

.right section.controlInfoHidden div.splitTwo span.rightspan{
    max-width: 66.666%;
    float: right;
}

.right section.controlInfoHidden div.splitTwo span.rightspan h6{
    text-align: left;
    padding: 4% 0%;

}

.right section.controlInfoHidden div.splitTwo span#controlFinalDesign p{
    text-align: left;
    padding: 3% 13% 3% 0;
}

/***********END OF CONTROL PAGE AND GENERAL ************/

/*********** DATA VISUALIZATION ************/
#dataVizDuation{
    display: block;
    float: right;
    margin: 0% 0% 0 20%;
}

.right section.controlInfoHidden div#dataViz span.leftspan{
    max-width: 46%;
    padding: 15px;
    margin:0;
}

.right section.controlInfoHidden div#dataViz span.rightspan{
    max-width: 46%;
    padding: 15px;
    margin:0;
}

.right section.controlInfoHidden div#dataViz {
    margin-top: 0;
}

#dataViz img{
    display:block;
    margin:auto;
    width: 80%;
}

#dataVis div.colored{
    background-color: #1e323a;
}

.description{
    padding: 15px;
    display:block;
    margin:auto;
    width: 80%;
}

.description h6.bold{
    font-weight: bold;
    padding-left: 5px;
}

.description h6{
    float: left;
    padding: 10px 0px;
}

.right section.controlInfoHidden .description p{
    display: block;
    text-align: left;
    padding: 5px;
}

.finalDesign{
    width: 80%;
}

.finalDesign h6{
    padding: 10px 13%;
}

.finalDesign p{
    margin: 10px auto;
    padding: 0px 13%;
}

.finalDesign img{
    margin: 10px auto;
    text-align: center;
    padding: 10px 13%;
    max-width: 600px;
}

#dataVizSection .finalDesign p{
    text-align: left;
}
/********END OF DATA VISUALIZATION ************/

/******** 3D PRINTED ************/
#Three-3dSection{
    display: none;
}   

#Three-DLeft{
    display: none;
}   

#Three-3dSection div.colored{
    background-color: #e04253;
}



/******** END OF 3D PRINTED ************/

@media only screen and (max-width:1263px) {
    .left section.controlInfoHidden p{
        font-size: .8em;
    }
    #Three-DLeft h4{
        font-size: 1.9em;
    }
}


@media only screen and (max-width:1172px){
    #dataVizLeftSection h4{
        font-size:1.8em;
    }

    #Three-DLeft h4{
        padding-top: 0.1em;
        font-size: 1.7em;
    }

    section#Three-DLeft p#duration {
        float: none;
        margin: 5px;
        margin-right: 80px;
    }
}



@media only screen and (max-width:1121px) {
    .right p {
        font-size: 0.8em;
    }

    #dataVizLeftSection h4{
        padding-top: .1em;
        font-size:1.7em;
    }
    #Three-DLeft h4{
        padding-top: 0.2em;
        font-size: 1.6em;
    }

    h6{
        font-size: 1.0em;
    }

    .left section.controlInfoHidden h4 {
        margin-bottom: 33px
    }
    .left section.controlInfoHidden p{
        display: block;
        margin:5px;
        padding-bottom: 0px;
        float: none;
        text-align: right;
    }

    .left section.controlInfoHidden p.bold{
        float: right;
        margin: 0 5px;
        display: block;
        padding-top: 20px;
    }

    .left section.controlInfoHidden p#duration{
        float: none;
        margin:5px;
        width: 100%;
    }

    .left section.controlInfoHidden span {
    }
    /*Data Visualization*/
    .right section.controlInfoHidden div#dataViz span.leftspan{
        max-width: 45%;
    }

    .right section.controlInfoHidden div#dataViz span.rightspan{
        max-width: 45%;
    }
    
}

@media only screen and (max-width:1071px){

    #dataVizLeftSection h4{
        font-size:1.5em;
    }

    #Three-DLeft h4{
        padding-top: 0.25em;
        font-size: 1.5em;
    }
    .right section.controlInfoHidden span.finalDesign img{
        margin: 10px auto;
        padding: 3% 13%;
        padding-top: 0%;
        max-width: 500px;
    }
}

@media only screen and (max-width:970px) {
    /*right screen */
    .left section.controlInfoHidden {
        padding-right: 10%; 
    }

    .left section.controlInfoHidden h4 {
        font-size: 1.3em;
    }

    #dataVizLeftSection h4{
        padding-top: .3em;
        font-size:1.3em;
    }
    #Three-DLeft h4{
        padding-top: 0.3em;
        font-size: 1.3em;
    }

    /* right screen */
    .right section.controlInfoHidden div.splitTwo span.rightspan h6 {
        padding: 4% 0%;
    }

    .right section.controlInfoHidden div.splitTwo span.leftspan {
    }

    .right section.controlInfoHidden div.splitTwo img {
        max-width: 100%;
    }

    .right section.controlInfoHidden div.splitTwo span.leftspan {
        max-width: 28%;
        margin: 4% 0;
        padding: 6.5% 2%;
    }
}

@media only screen and (max-width:889px){
    .left section.controlInfoHidden p{
        font-size: 0.7em;
    }

    .right section.controlInfoHidden div#dataViz span.leftspan {
        padding: 10px;
        max-width: 46%;
    }
    .right section.controlInfoHidden span.finalDesign img{
        width: 450px;
    }


}

@media only screen and (max-width:867px) {
    .left section.controlInfoHidden p{
        margin-top:0px;
    }
    .left section.controlInfoHidden i{
        margin-bottom: 25px;
    }

    .right section.controlInfoHidden div#dataViz span.leftspan {
        padding: 15px;
        max-width: 100%;
    }

    .right section.controlInfoHidden div#dataViz span.rightspan {
        padding: 15px;
        max-width: 100%;
    }

    .right section.controlInfoHidden span.finalDesign img{
        width: 400px;
    }

}

@media only screen and (max-width:830px){
    #dataVizLeftSection h4{
        padding-top: .45em;
        font-size:1.15em;
    }
    #Three-DLeft h4{
        padding-top: 0.5em;
        font-size: 1.1em;
    }

}

@media only screen and (max-width:800px) {
    .left section.controlInfoHidden p{
        font-size: .6em;
    }

    .right section.controlInfoHidden h6{
        font-size: .9em;
    }

    .right section.controlInfoHidden p{
        font-size: .7em;
    }
}


@media only screen and (max-width:775px) {
    .left section.controlInfoHidden p{
        visibility: hidden;
        display: none;
    }

    .left section.controlInfoHidden {
        padding-right: 10px; 
    }   

    .finalDesign img {
        width: 300px;
    }

    .left section.controlInfoHidden h4 {
        font-size: 1.3em;
        margin: 0px;
        margin-left: 30px;
    }

    .right section.controlInfoHidden span.finalDesign img{
        width: 350px;
    }
}



@media only screen and (max-width:650px) {
    .left section.controlInfoHidden h4 {
        font-size: 1.5em;
        margin-right: 20px;
        float: right;
    }
    .right section.controlInfoHidden span.finalDesign img{
        width: 325px;
    }
}

@media only screen and (max-width:599px) {
    .left section.controlInfoHidden h4 {
        font-size: 1.4em;
    }
    .right section.controlInfoHidden span.finalDesign img{
        width: 275px;
    }
}

@media only screen and (max-width:480px) {
    .left {
        height: 125px;
        min-height: 100px;
        max-height: 150px;
    }
    .left section.controlInfoHidden {
        float: none;
    }

    .left h3{
        padding-top: 70px;
        position: static;
    }

    .left section.controlInfoHidden h4 {
        padding-top:70px;
        margin-top: 0;
    }

    #dataVizLeftSection h4{
        padding-top:70px;
        margin-top: 0;
    }
    #Three-DLeft h4{
       padding-top:70px;
       margin-top: 0;
    }
    .right p{
        margin: 18px 10%;
    }
    .right section.controlInfoHidden p {
        padding: 2% 3%;
    }

    .right section.controlInfoHidden h6 {
        padding: 7% 1% 0% 11%;
    }

    .right section.controlInfoHidden div.colored p{
        margin: 4px 10%;
        padding: 2% 1%;
        padding-bottom: 5%;
    }
    .right section.controlInfoHidden div.splitTwo img{
        text-align: center;
        max-width: 80%;
        padding-left: 10%;
    }
    .right section.controlInfoHidden div.splitTwo span.leftspan {
        max-width: 100%;
        padding: 0;
        float: none;
    }

    .right section#dataVizSection div.splitTwo span.leftspan img{
        padding-left: 0;
    }

    .right section.controlInfoHidden div.splitTwo span.rightspan{
        max-width: 100%;
        float: none;
    }
    .right section.controlInfoHidden div.splitTwo span.rightspan img{
        padding-left: 0;
    }
    .right section.controlInfoHidden div.splitTwo span.rightspan h6{
        font-size: 1em;
        text-align: center;
        padding: 4% 0%;
    }

    .right section.controlInfoHidden div.splitTwo span.rightspan p{
        padding: 2% 10%;
        margin: 0;
    }

    .right section.controlInfoHidden div.splitTwo span#controlFinalDesign p {
        text-align: left;
        padding: 3% 10% 3%;
    }

    .right section.controlInfoHidden div#dataViz .description{      
        margin: 0;
        width: 100%;
    }


    .right section.controlInfoHidden div#dataViz .description h6{
        padding-top: 2%;
        padding-left: 0%;
    }

    .right section.controlInfoHidden div#dataViz .description h6.bold{
        padding-left: 10%;
    }

    .right section.controlInfoHidden div#dataViz .description p {
        display: block;
        text-align: left;
        padding: 5px 5px 5px 0px;
        margin: 1% auto;
        width: 80%;
    }

    .description{
        padding: 15px 0px;
        margin: auto;
    }

    .right span.finalDesign p {
        padding: 0;
    }

    .right section.controlInfoHidden span.finalDesign img{
        width: 350px;
        margin: 18px 10%;
        padding: 0;
    }
}











