body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

section{
    display: none;
}

.right h2{
    color: #fff;
}

.testSize{
    float:none;
}

/****************************** ABOUT SCREENS ******************************/
.left{
    float: left;    
    background-color: #e42d9f;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.left h3{
    font-size: 4em;
    color: #ffffff;
    position:absolute;
    top:70%;
    left:5%;
}

#about img#centerImg{
    position: absolute;
    margin-top: 3%;
    left: 50%;
    margin-left: -80px;
    text-align: center;
}

#aboutNav {
    color: #e42d9f;
}

.right{
    float: right;
    width: 100%;
}

.right h4{
    font-size: 3em;
    color: #000;
    padding: 45% 7% 0 7%;
    color: #414141;
}

.right p{
    padding: 8% 15% 15% 7%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    font-size: .9em;
    line-height: 1.1em;
}

.right a{
    color: #555;
}

/********************************* CONTACT *********************************/

body#contact .right{
    min-height:100vh;
}

body#contact .right p{
    font-size: 1.5em;
   padding-top: 45vh;
   padding-bottom: 30px;

}

#iconConnect{
    padding-left: 7%;
}
#iconConnect img{
    margin: 5px 8px;
}


/****************************** END OF CONTACT ******************************/


/****************************** RESPONSIVE GRID ******************************/
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float:left;
    margin: 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 50%;
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.66%;
}
.span_10_of_12 {
    width: 83.33%;
}

.span_9_of_12 {
    width: 70%;/*CHANGED*/
}

.span_8_of_12 {
    width: 66.66%;
}

.span_7_of_12 {
    width: 58.33%;
}

.span_6_of_12 {
    width: 50%;
}

.span_5_of_12 {
    width: 41.66%;
}

.span_4_of_12 {
    width: 33.33%;
}

.span_3_of_12 {
    width: 30%; /*CHANGED*/
}

.span_2_of_12 {
    width: 16.66%;
}

.span_1_of_12 {
    width: 8.333%;
}

/************************** END OF RESPONSIVE GRID ***************************/


/************************** RESPONSIVE SCREENS ***************************/
@media only screen and (max-width: 1000px) {
    body{
        overflow: auto;
    }
}

@media only screen and (max-width: 800px) {
    .right h4{
        padding-top: 60%;
        font-size: 2em;
    }
    .right p{
        font-size: .8em;
    }
    .left h3{
        font-size: 3em;
    }
}

@media only screen and (max-width:680px) {
    header nav ul{
        visibility: hidden;
    }
    .mobile img {
        visibility: visible;
        margin-top: 10%;
        margin-left: 10%;
        width: 2em;
    }
    h2{
        visibility: hidden;
    }
}


@media only screen and (max-width: 480px) {
    .col { 
        margin: 0% 0 0% 0%;
    }
    .left{
        height: 300px;
        min-height: 100px;
    }
    .left h3{
        position: static;
        font-size: 1.75em;
        padding-top:70px;
        padding-left: 70%;
        font-weight: 50;
    }

    #about img#centerImg{
        margin-top: 231px;
    }

    .right {
        padding-bottom: 50px;
    }

    .right h2{
       visibility: hidden;
    }

    .right h4{
        font-size: 1.5em;
        padding-top: 0%;
        padding: 100px 0 20px 0;
        text-align: center;
    }
    .right p{
        padding: 0;
        margin: 10px 10%;
    }

    .testSize{
        float:left;
    }

    /** SHOW MOBILE **/
    .mobile{
        visibility: visible;
        float: left;
        margin-top: 5%;
        margin-left: 5%;
        color: #ffffff;
        width: 100%;
    }

    .mobile img{
        float: left;
        margin-right: 10px;
        width: 1em;
        margin-top: 0%;
        margin-left: 5%;
    }

    .mobile a{
        color: #fff;
        display: inline-block;
        width: 100%;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 0% 0 0% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; 
    }
}


@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}


