body {
    font-family: futura, Helvetica Neue, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
}

.left{
    float: left;    
    background-color: #575da9;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.left h3{
    font-size: 3em;
    color: #ffffff;
    position: absolute;
    top:13%;
    left:30%;
}

.right{
    float: right;
    width: 100%;
}

.right h4{
    font-size: 3em;
    color: #000;
    padding: 45% 7% 0 7%;
    color: #414141;
}

.right p{
    padding: 8% 15% 15% 7%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    font-size: .9em;
    line-height: 1.1em;
}

.right a{
    color: #555;
}

div.row img{
    width: 100%;
}


.mobile{
    visibility: visible;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    color: #ffffff;
    width: 100%;
}

.mobile i{
    float: left;
    margin-right: 10px;
    font-size: 1em;
    margin-top: 0%;
    margin-left: 5%;
}

 .mobile h5{
    float: left;
}

.mobile a{
    color: #fff;
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 50%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}
