.clear{clear: both;}
section{
	width: 60%;
	margin-left: 20%;
	padding-bottom: 0;
}

strong{
	font-weight: 700;
}

.projectHeader{
	text-align: center;
}

h5{
	font-size: 1.5em;
}

#blindsImg{
	max-width: 99%;
}

.dashboardImg{
	max-width: 99%;
	margin-bottom: 20px;
}
h6{
	font-size: 1.3em;
	font-weight: bold;
}



p{
	font-weight: 300;
	font-size: 0.9em;
	 font-weight: 300;
}

ul{
	list-style-type: none;
	padding-left: 25px;
	margin-left: 25px;

}

li{
	font-size: 0.9em;
	font-weight: 300;
	font-family: 'Open+Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	margin-bottom: .5em;
}


/* Dashed Lists */

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  	margin-left: 0;
    /*padding-left: 1em;*/
}
ul.dashed > li:before {
  content: "-";
  margin-left: -.8em;
}

ul.dashed1 {
  list-style-type: none;
}
ul.dashed1 > li.dash {
  	margin-left: 0;
    /*padding-left: 1em;*/
}
ul.dashed1 > li.dash:before {
  content: "-";
  margin-left: -.8em;
}



/* End of Dashed Lists */

/* Dashboard Specific*/
div#scientist img{
	float: left;
	width: 30%;
	margin: 10px;
}

div#scientistText{
	float: right;
	width: 65%;
	margin-top: 5%;
}

div#scientistText h6{
	color: #104d62;
}

div#policyMaker img{
	float: right;
	width: 30%;
	margin: 10px;
}

div#policyMakerText{
	float: left;
	width: 65%;
	margin-top: 5%;
	padding-left: 20px;
}

div#policyMakerText h6{
	color: #104d62;
}

.projectPic{
	width: 99%;
}

.left{
	float: left;
	width: 10%;
	padding-left:10%;
	margin-left: 0;
	padding-top:40%;
}



.right{
	float: right;
	margin-right: 10%;
	width: 70%;
	margin-left: 0;
}

div.animated{
	padding: 10px;
	margin: 0%;
}
.animated .fadeInLeft {
	margin: 0%;
	padding: 0;
}
#aboutImg{
	max-width: 100px;
}

#aboutProject{
	margin-left: 0;
	padding-left: 0;
}

.aboutFS{
	position: absolute;
	left:calc(10% - 42.5px);
}

#aboutImg{
	width: 100%;
	float: left;
	margin-left: 0;
	padding-left: 0;
	position: relative;
	top:-25px;
}

#line{
	position: absolute;
	left:calc(10% + 40px);
	height:100%;
	width: 15px;
}

/* Dashboard Specific*/

#diffSize1{
	width: 100%;
}

#diffSize2{
	width: 80%;
	height: 70%;
}

/* End of Dashboard Specific*/

/*Controls Redesign*/
#leftControls{
	float: left;
	width: 45%;
}

#rightControls{
	float: right;
	padding-top:5%;
	width: 50%;
}

#blindsBreakdown{
	width: 110%;
}

.controlPics{
	max-height: 200px;
}

#floatLeft1{
	float: left;
	width: 70%;
}

#floatRight1{
	float: right;
	width: 30%;
	padding-left: 25px;
}

#floatLeft2{
	float: left;
	width: 50%;
}

#floatRight2{
	float: right;
	width: 50%;
	
}
/* End of Controls Redesign*/

/*TrustyTech*/
	#scott{
		display: none;
	}

	#alyssa{
		display: none;
	}
/* End of trustyTech*/

@media (max-width: 800px){

	#aboutImg{
		max-width: 80px;
	}

	#line{
		position: absolute;
		left:calc(10% + 30px);
	}

	section{
		width: 65%;
		margin-left: 22%;
		margin-right: 10%;
	}
	#leftControls{
		float: none;
		width:100%;
	}

	#rightControls{
		float: none;
		padding-top:0%;
		width: 100%;
	}
	#blindsBreakdown{
		width: 90%;
		text-align: center;
		margin: 0 5%;
		margin-bottom: 20px;
	}
}

@media (max-width: 700px){

	#twoPersonas{
		display: none;
	}

	#scott{
		display: block;
		margin-bottom:10px;
	}

	#alyssa{
		display: block;
		margin-bottom:20px;
	}
}
@media (max-width: 671px){
	div#scientist img{
		float: none;
		width: 50%;
		margin: 0;
		margin-bottom: 10px;
	}

	div#scientistText{
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	div#policyMaker img{
		float: none;
		margin: 10px;
		width: 50%;
		margin: 0;
		margin-bottom: 10px;
	}

	div#policyMakerText{
		float: none;
		width: 100%;
		margin: 0;
		padding-left: 0;
	}

	#twoPersonas{
		display: none;
	}

	#Scott{
		display: block;
	}

	#Alyssa{
		display: block;
	}
}

@media (max-width: 500px){

	#aboutImg{
		display: none;
	}

	#line{
		display: none;
	}

	section{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
}


