body {
    overflow: auto;
}

.left{
    float: left;    
    background-color: #575da9;
}

.left h3{
    font-size: 3em;
    position: absolute;
    top:13%;
    left:30%;
}

div.row img{
    width: 100%;
}

/****************************** MOBILE SCREEN ******************************/


.mobile{
    visibility: visible;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    color: #ffffff;
    width: 100%;
}

.mobile i{
    float: left;
    margin-right: 10px;
    font-size: 1em;
    margin-top: 0%;
    margin-left: 5%;
}

 .mobile h5{
    float: left;
}

.mobile a{
    color: #fff;
}

/****************************** RESPONSIVE GRID ******************************/
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
    width: 100%;
}

.span_5_of_6 {
    width: 83.33%;
}

.span_4_of_6 {
    width: 66.66%;
}

.span_3_of_6 {
    width: 50%;
}

.span_2_of_6 {
    width: 33.33%;
}

.span_1_of_6 {
    width: 16.66%;
}

/************************** END OF RESPONSIVE GRID ***************************/

/************************** RESPONSIVE SCREENS ***************************/

@media only screen and (max-width: 800px) {
    .left h3{
        left:28%;
        font-size: 2.8em;
    }
}

@media only screen and (max-width: 800px) {
    .left h3{
        left:28%;
        font-size: 2.7em;
    }
}

@media only screen and (max-width: 600px) {
    .left h3{
        left:20%;
        font-size: 2.5em;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 0% 0 0% 0%; }
    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }

    .left{
        min-height: 50px;
        max-height: 150px; 
    }

    .left h3{   
        padding-top: 8%;   
        left: 5%;
        font-size: 1.75em;
    }

    .right{
        padding-bottom: 0;
    }
}
/***********************END OF RESPONSIVE SCREENS ************************/
