body {
    font-family: futura, Helvetica Neue, Arial, sans-serif;
    background-color: #222; /*sets background color to black */
    overflow:hidden;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

.mobile{
    visibility: hidden;
}

p{ font-family:Helvetica Neue, Arial, sans-serif;}


/******************************PRELOAD SCREEN ******************************/
    /*  Animation for my svg 
        Help from: https://css-tricks.com/svg-line-animation-works/*/

    /* Position the load wrapper to fit whole screen*/

    #loader-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000; /* make it on top of everything*/
    }

    /* Positioning of the svg file to be in the middle*/
    #loader {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        z-index: 1001; /* make it on top */
    }

    /* This is the container surrounding my svg*/
    #mySvg{
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        cursor: default;
        pointer-events: none;
        top: 0;
        height: 100%;
    }

    #hiddenAfter{
        display: none;
        z-index: 1500;
    }

    #loader-wrapper #hiddenAfter .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper  .loader-section.section-left {
        left: 0;
        background: #222;
    }
     
    #loader-wrapper .loader-section.section-right {
        right: 0;
        background: #222;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
      /*  visibility: hidden;
*/
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

    /************ ANIMATION FOR THE PRELOAD SCREEN ***********/
        /* Path for SVG for one time*/
        .path2{
            stroke-miterlimit:5; 
            stroke-dasharray: 1400; 
            animation: dash 4s linear alternate infinite;
            z-index: 1003;
            display: block;
            margin: 0 auto;
        }

        /* change dash start and end point*/
        @keyframes dash {
          from {
            stroke-dashoffset: 1400;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

        /* Path for SVG for one time*/
        .path1{
            stroke-miterlimit:10;
            stroke-dasharray: 300;
            stroke-dashoffset: 0;
            animation: dash 4s linear alternate infinite;
            margin: 40% 0 0 40%;
        }

        @keyframes dash {
          from {
            stroke-dashoffset: 1500;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

    /******* END OF ANIMATION FOR THE PRELOAD SCREEN**/
        #mySvg #svg_inner{
            display: block;
            margin: 0 auto;
            min-width: 320px;
            max-width: 480px;
            width: 25%;
        }

/************************ END OF PRELOAD SCREEN ******************************/

/******************************* PAGE 1  *************************************/
    #content {
        position: fixed;
        top:0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        color: #ffffff;
    }

    .loaded #content{
        visibility: visible;
    }

    #home{
        float: left;
        width: 100%;
    }


    header nav {
        text-align: center;
        width: 100%;
        display: block;
        position: absolute;
        top: 5.5%;
        left: 4.5%;
    }

    header img{
        width: 110vw; 
        height: 110vh;
    }

    h2{
        float: left;
        font-size: 1.5em;  
    }

    header nav ul{
        display: block;
        margin: .5em 10% 0 0;
        list-style-type: none;
        float: right;
        text-align: right;
    }

    header nav ul li{
        width: 20%;
        position: relative;
        display:inline;
        padding: 1.2em 0 0 2em;
    }


    header nav ul li a {
        text-decoration: none;
        font-size: 1em;
        color: #ffffff;
    }

    h1{
        position: absolute;
        top: 70.4%;
        left: 5.5%;
        font-size: 3em;  
    }

/******************************* END OF PAGE 1  *************************************/

/******************************* MOBILE HEADER *************************************/
    #mobileHeader{
        display: none;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .container{
        display: block;
        cursor: pointer;
        margin-left: 15px;
    }

    .bar{
        margin: 6px 0;
        transition: 0.4s;
    }

    #hamMen{
        display: block;
    }


    #x{
        display: none;
    }

/************************** END OF MOBILE HEADER ********************************/


/************************** RESPONSIVE SCREENS ********************************/
    @media only screen and (max-width: 499px) {
        .span_2_of_2, .span_1_of_2 { width: 100%; }

        header#normalHeader nav ul{
            display: none;
        }
        header#normalHeader nav h2{
            display: none;
        }

        header#mobileHeader{
            display: block;
        }

        header#mobileHeader nav ul{
            display: none;
            float: left;
            background-color: rgba(100, 100, 100, 0.7);
            padding: 5px;
        }

        header#mobileHeader nav ul li{
            display: block;
            margin: 1.2em 10px;
            padding: 5px;
            opacity: 1;
        }
    }

/************************END OF RESPONSIVE SCREENS******************************/