body {
    font-family: futura, Helvetica Neue, Arial, sans-serif;
    background-color: #000000; /*sets background color to black */
    overflow:hidden;
}

.clear {
    clear: both;
}
/*  Animation for my svg 
    Help from: https://css-tricks.com/svg-line-animation-works/*/

/* Position the load wrapper to fit whole screen*/

#loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* make it on top of everything*/
}

/* Positioning of the svg file to be in the middle*/
#loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001; /* make it on top */

}

/* This is the container surrounding my svg*/
#mySvg{
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    top: 0;
    height: 100%;
}

/* Path for SVG for one time*/
.path2{
    stroke-miterlimit:5; 
    stroke-dasharray: 1400; 
    animation: dash 4s linear alternate infinite;
    z-index: 1003;
    display: block;
    margin: 0 auto;
}

/* change dash start and end point*/
@keyframes dash {
  from {
    stroke-dashoffset: 1400;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path1{
    stroke-miterlimit:10;
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    animation: dash 4s linear alternate infinite;
    margin: 40% 0 0 40%;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#mySvg #svg_inner{
    display: block;
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
    width: 25%;
}

/*** PAGE 1 ***/

#content {
    position: fixed;
    top:0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: #ffffff;
}

.loaded #content{
    visibility: visible;
}

#home{
    float: left;
    width: 100%;
}


header nav {
    text-align: center;
    width: 100%;
    display: block;
    position: absolute;
    top: 5.5%;
    left: 4.5%;
}

header img{
    width: 110vw; 
    height: 110vh;
}

h2{
    float: left;
    font-size: 1.5em;  
}

header nav ul{
    display: block;
    margin: .5em 10% 0 0;
    list-style-type: none;
    float: right;
    text-align: right;
}

header nav ul li{
    width: 20%;
    position: relative;
    display:inline;
    padding: 1.2em 0 0 2em;
}


header nav ul li a {
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}

h1{
    position: absolute;
    top: 70.4%;
    left: 5.5%;
    font-size: 3em;  
}



