/**** GENERAL ****/
body {
    font-family: futura, Helvetica Neue, Arial, sans-serif;
    background-color: #ffffff;
    overflow:hidden;
    width: 100vw;
    height: 100vh;
}


p{ font-family:Helvetica Neue, Arial, sans-serif;}

a {
    font-family: futura, Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
}
section {
    display: none;
}
h1{
    position: absolute;
    top: 70.4%;
    left: 5.5%;
    font-size: 3em;  
} 

h2{
    float: left;
    font-size: 1.5em;  
}

h3{
    font-family: futura, Helvetica Neue, Arial, sans-serif;
}

body#home{
    background-color: #222;
}



.testSize{/* Use to ensure there is no extra space on page*/
    float:none;
}

.clear {
    clear: both;
}

/* hides mobile view*/
.mobile{ 
    visibility: hidden;
}

/******************************PRELOAD SCREEN ******************************/
    /*  Animation for my svg where I got help from https://css-tricks.com/svg-line-animation-works/
        For the preloading screen I got help from https://ihatetomatoes.net/create-custom-preloading-screen/
        */

    /* Position the load wrapper to fit whole screen*/

    #loader-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000; /* make it on top of everything*/
    }

    /* Positioning of the svg file to be in the middle*/
    #loader {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        z-index: 1001; /* make it on top */
    }

    /* This is the container surrounding my svg*/
    #mySvg{
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        cursor: default;
        pointer-events: none;
        top: 0;
        height: 100%;
    }

    #hiddenAfter{
        display: none;
        z-index: 1500;
    }

    #loader-wrapper #hiddenAfter .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    /* Wraps under the preloader*/
    #loader-wrapper .loader-section.section-left {
        left: 0;
        background: #222;
    }
     
    #loader-wrapper .loader-section.section-right {
        right: 0;
        background: #222;
    }
    
    .loaded #loader {
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }

    /* Moving the entire pre-screen*/
    .loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 1.1s linear;  
                transition: all 0.7s 1.1s linear;
    }

    /************ ANIMATION FOR THE PRELOAD SCREEN ***********/
        /* Path for SVG for one time*/
        .path2{
            stroke-miterlimit:5; 
            stroke-dasharray: 1400; 
            animation: dash 4s linear alternate infinite;
            z-index: 1003;
            display: block;
            margin: 0 auto;
        }

        /* change dash start and end point*/
        @keyframes dash {
          from {
            stroke-dashoffset: 1400;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

        /* Path for SVG for one time*/
        .path1{
            stroke-miterlimit:10;
            stroke-dasharray: 300;
            stroke-dashoffset: 0;
            animation: dash 4s linear alternate infinite;
            margin: 40% 0 0 40%;
        }

        @keyframes dash {
          from {
            stroke-dashoffset: 1500;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

    /******* END OF ANIMATION FOR THE PRELOAD SCREEN**/
        #mySvg #svg_inner{
            display: block;
            margin: 0 auto;
            min-width: 320px;
            max-width: 480px;
            width: 25%;
        }

/************************ END OF PRELOAD SCREEN ******************************/

/************************ TEXT TRANSITIONS *******************/
body {
  display: flex;
  justify-content: center;
}
/* Got help from https://css-tricks.com/snippets/css/typewriter-effect/ */

/* DEMO-SPECIFIC STYLES */
.typewriter{
  display: none;
}

.typewriter h1{
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 15px;
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 1;
}

/* The typing effect */
@keyframes typing {
  from { width: 0}
  to { width: 570px}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
  100%{ border-color: transparent;}
}

/************************ TEXT TRANSITIONS *******************/

/******************************* HOMEPAGE  *************************************/
    #content {
        position: fixed;
        top:0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        color: #ffffff;
    }

    .loaded #content{
        visibility: visible;
    }

    header img{
        width: 110vw; 
        height: 110vh;
    }

    header nav {
        text-align: center;
        width: 100%;
        display: block;
        position: absolute;
        top: 5.5%;
        left: 4.5%;
    }

    header nav ul{
        display: block;
        margin: .5em 10% 0 0;
        list-style-type: none;
        float: right;
        text-align: right;
    }

    header nav ul li{
        width: 20%;
        position: relative;
        display:inline;
        padding: 1.2em 0 0 2em;
    }


    header nav ul li a {
        text-decoration: none;
        font-size: 1em;
        color: #ffffff;
    }


/******************************* END OF HOMEPAGE  *************************************/


/****************************** ABOUT SCREENS ******************************/
.left{
    float: left;    
    background-color: #e42d9f;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.left h3{
    font-size: 4em;
    color: #ffffff;
    position:absolute;
    top:70%;
    left:5%;
}

#about-page img#centerImg{
    position: absolute;
    margin-top: 3%;
    left: 50%;
    margin-left: -80px;
    text-align: center;
}

/* Make it pink to highlight the page we're on*/
#coloredOnNav {
    color: #e42d9f;
}

.right{
    float: right;
    width: 100%;
}

.right h2{
    color: #fff;
}

.right h4{
    font-size: 3em;
    color: #000;
    margin: 45% 7% 0 7%;
    color: #414141;
}

.right p{
    padding: 8% 15% 15% 7%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    font-size: .9em;
    line-height: 1.1em;
}

.right a{
    color: #555;
}

/********************************* CONTACT *********************************/
#contact-page {
    display: none;
}
div#contact-page .left{
    background-color: #e04253;
}

div#contact-page .right{
    min-height:100vh;
}

div#contact-page .right p{
    font-size: 1.5em;
    margin-top: 45vh;
    padding-bottom: 30px;

}
div#contact-page #coloredOnNav{
    color: #e04253;
}

div#contact-page div.section{
    width: 100%;
    height: 100%;
}

body#contact .left{
    background-color: #e04253;
}


body#contact .right{
    min-height:100vh;
}

body#contact .right p{
    font-size: 1.5em;
    margin-top: 45vh;
    padding-bottom: 30px;

}
body#contact #coloredOnNav{
    color: #e04253;
}

body#contact div.section{
    width: 100%;
    height: 100%;
}

#iconConnect{
    padding-left: 7%;
}
#iconConnect img{
    margin: 5px 8px;
}

/****************************** END OF CONTACT ******************************/

/******************************* MOBILE HEADER *************************************/
    #mobileHeader{
        display: none;
    }

/* Used help from https://www.w3schools.com/howto/howto_css_menu_icon.asp to create menu icon*/
    .container{
        display: block;
        cursor: pointer;
        margin-left: 15px;
    }

    /* Create the lines of the hamburger menu*/
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /*After you click on it it turns to an x*/
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .bar{
        margin: 6px 0;
        transition: 0.4s;
    }

    #hamMen{
        display: block;
    }

    #x{
        display: none;
    }

/************************** END OF MOBILE HEADER ********************************/


/************************** RESPONSIVE SCREENS ********************************/

    @media only screen and (max-width: 1000px) {
        body{
            overflow: auto;
        }
    }

    @media only screen and (max-width: 800px){
        /* Change the Born to Innovate*/
        h1{ 
            font-size: 2.5em;
        }

        .left h3{
            font-size: 3em;
        }

        .right h4{
            padding-top: 60%;
            font-size: 2em;
        }
        .right p{
            font-size: .8em;
        }

    }
    
    @media only screen and (max-width: 650px){
        h1{
            font-size: 2em;
        }
    }
    
    /* Turn from normal header to mobile header*/
    @media only screen and (max-width: 499px) {
        .span_2_of_2, .span_1_of_2 { width: 100%; }

        /* Hide normal header*/
        header#normalHeader nav ul{
            display: none;
        }
        header#normalHeader nav h2{
            display: none;
        }

        /*Show mobile header*/
        header#mobileHeader{
            display: block;
        }

        header#mobileHeader nav ul{
            display: none;
            float: left;
            background-color: rgba(100, 100, 100, 0.7);
            padding: 5px;
        }

        header#mobileHeader nav ul li{
            display: block;
            margin: 1.2em 10px;
            padding: 5px;
            opacity: 1;
        }

        /* Resize for mobile view*/
        h1{
            font-size: 1.5em;
        }

        .typewriter {
            margin-left: 15px;
        }
    }

    @media only screen and (max-width: 480px) {
        .col { 
            margin: 0% 0 0% 0%;
        }
        body.loaded div.content div#mobileHeader div.typewriter{
            display: flex;
        }
        .testSize{
            float:left;
        }
        h1{
            font-size: 1.5em;
        }

        .left{
            height: 300px;
            min-height: 100px;
        }
        .left h3{
            position: static;
            font-size: 1.75em;
            padding-top:70px;
            padding-left: 70%;
            font-weight: 50;
        }

        #about-page img#centerImg{
            margin-top: 100px;
        }

        .right {
            padding-bottom: 50px;
        }

        .right h2{
           visibility: hidden;
        }

        .right h4{
            font-size: 1.5em;
            padding-top: 0%;
            padding: 0px 0 20px 0;
            text-align: center;
            margin-top: 115px;
        }
        .right p{
            padding: 0;
            margin: 10px 10%;
        }

        

        /** SHOW MOBILE **/
        .mobile{
            visibility: visible;
            float: left;
            margin-top: 5%;
            margin-left: 5%;
            color: #ffffff;
            width: 100%;
        }

        .mobile img{
            float: left;
            margin-right: 10px;
            width: 1em;
            margin-top: 0%;
            margin-left: 5%;
        }

        .mobile a{
            color: #fff;
            display: inline-block;
            width: 50%;
        }

        .mobile ul#mobileUL{
            float: right;
            padding-right: 10px;
          
        }
        .mobile ul#mobileUL li{
            display: inline-block;
            font-size: 0.8em;
            padding-right: 20px;
        }

        body#contact header nav{
            display: none;
        }
        body#contact .right p{
            margin-top:100px;
        }

        div#about-page header nav{
            display: none;
        }

        div#contact-page header nav{
            display: none;
        }
        div#contact-page.right p{
            margin-top:100px;
        }
    }


/****************************** RESPONSIVE GRID ******************************/
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float:left;
    margin: 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 50%;
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.66%;
}
.span_10_of_12 {
    width: 83.33%;
}

.span_9_of_12 {
    width: 70%;/*CHANGED*/
}

.span_8_of_12 {
    width: 66.66%;
}

.span_7_of_12 {
    width: 58.33%;
}

.span_6_of_12 {
    width: 50%;
}

.span_5_of_12 {
    width: 41.66%;
}

.span_4_of_12 {
    width: 33.33%;
}

.span_3_of_12 {
    width: 30%; /*CHANGED*/
}

.span_2_of_12 {
    width: 16.66%;
}

.span_1_of_12 {
    width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 0% 0 0% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; 
    }
}


@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

/************************** END OF RESPONSIVE GRID ***************************/









/************************END OF RESPONSIVE SCREENS*****************************